<!DOCTYPE html>
<html>

<head>
  <title>Tiny Survey</title>
</head>

<body>
  <div class="container">
    <h1 class="mb-3 mt-3">&#10068; Tiny Survey</h1>
    <form action="/gottopic" method="POST">
      <input type="text" name="topic" required class="form-control" spellcheck="false">
      <button type="submit" class="btn btn-primary mt-1">Open</button>
    </form>
    <p>
      Enter the topic of your survey and click Open to open it.
    </p>
  </div>
</body>

</html>